@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  
  }
  
  body {
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  }

  /* start button*/
.btn {
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color:rgb(102, 17, 158);
  border-radius: 4px;
  padding: 5px 10px;
  color: white;
  outline: none;
  font-size: 5rem;
}

.btn:hover{
    background-color:rgb(7, 117, 214);
    cursor: pointer; 
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide{
    display: none;
}
  
/*game section */

.live_count {
  font-size: 2rem;
  margin-top: 50px;
  color: aliceblue;
  font-weight: 600;
 justify-content:center;
 
}

  section {
    display: grid;
    grid-template-rows: repeat(4, 5rem);
    grid-template-columns: repeat(4, 5rem);
    perspective: 1000px;
    grid-gap: 1.5rem;
    margin-bottom: 20rem;
  }
  
  .card{
    position:relative;
    transform-style: preserve-3d;
    transition: all 2.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: #333 0px 5px 15px;
  
  }
  
.face, .back{
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    padding: 20px;
  }
  
  .back {
    background-color: #fff;
    backface-visibility: hidden;
  }
  
  .toggleCard{
    transform: rotateY(180deg);
  }

  /*footer */

.page-footer {
  border: none;
  text-align: center;
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.page-footer i {
  font-size: 1.5rem;
  color: #fff;
  padding-bottom: -5px;
}

.page-footer p {
  font-size: 1rem;
  text-align: center;
}

/* media screen */

@media screen  and (max-width:600px) {

  section {
    clear: both;
    grid-template-rows: repeat(4, 5rem);
    grid-template-columns: repeat(4, 5rem);
    grid-gap: 2rem;
    height: auto;
  
  }
  
  .live_count{
    font-size:2.5rem;
  }
  }
  
  @media screen  and (max-width:410px) {
  
    section {
      clear: both;
      grid-template-rows: repeat(4, 4rem);
    grid-template-columns: repeat(4, 4rem);
    grid-gap: 1rem;
    height: auto;
    }
  
    .live_count{
      font-size:1.5rem;
    }
  }
  
  @media screen  and (max-width:320px) {
  
    section {
      clear: both;
      grid-template-rows: repeat(4, 4rem);
    grid-template-columns: repeat(4, 4rem);
    grid-gap: 0.5rem;
    height: auto;
    }
  
    .live_count{
      font-size:1.5rem;
    }
  }
  
  @media only screen and (min-width: 412px) and (max-width: 767px) {
  
    section {
      clear: both;
      grid-template-rows: repeat(4, 5rem);
    grid-template-columns: repeat(4, 5rem);
    grid-gap: 1.5rem;
    height: auto;
    }
  
    .live_count{
      font-size:1.5rem;
    }
  }